$color-black: #1B262E;
$color-black-havy: #0F1B24;
$color-white-havy: #DBDBDB;
$color-red: #EC1C28;
$color-white: #FFFFFF;
$color-white-soft: #FFF6F6;
$label-gray: #6B6B72;
$charcoal:   #1E1E22;
$color-dark-slate: #111E21;
$color-slate-gray: #797979